openapi: "3.0.0"
info:
  title: "μ•„μ›μ›¨λ”© - Firebase Functions API"
  version: "1.0.0"
  description: |
    ## π€ Endpoint
    λ°°ν¬κ°€ μ™„λ£λλ©΄ μ•„λ μ£Όμ†μ—μ„ APIλ¥Ό ν™•μΈν•  μ μμµλ‹λ‹¤.

    - `https://example.cloudfunctions.net/api`
      <br>  <br>
    - `https://example.a.run.app`

paths:
